
@{
    ViewBag.Title = "Completed";
}

<div class="row">
    <div class="col-md-12">
        <h2>Sipariş Tamamlandı!</h2>
        <h4>Satın aldığınız ürünler en kısa zamanda kargoya verilecektir.</h4>
        <a href="/Home/List" class="btn btn-primary">
            <i class="fa fa-angle-double-left" aria-hidden="true"></i>
            Alışverişe Devam Et
        </a>
    </div>
</div>

